<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> ICCT Portal </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="margin-right: 70px;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/announcements"> Announcements </a></li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-portal"> Admin Portal </a></li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student-portal"> Student Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student-register"> Student Register </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"> About Us </a>
        </li>
      </ul>
    </div>
  </div>
</nav>