<div class="container d-flex justify-content-center align-items-center">
    <div class="row border rounded-2 p-3 bg-white shadow box-area">
        <div class="row align-items-center">
            <form action="/hms" method="POST">
                <label for="" class="form-label"> Heart Rate: </label>
                <div class="input-group mb-3">
                    <input type="heartRate" name="heartRate" class="form-control bg-light fs-6"
                        placeholder="00" disabled>
                </div>
                <label for="" class="form-label"> Weight (KG): </label>
                <div class="input-group mb-3">
                    <input type="heartRate" name="heartRate" class="form-control bg-light fs-6"
                        placeholder="" disabled>
                </div>
                <div class="input-group">
                <button class="btn btn-lg w-100 fs-6" style="background-color: #030067; color: #ececec;">
                    Submit
                </button>
                </div>
            </form>
        </div>
    </div>
</div>